.env
uploads/

# Java
backend/target/
*.class

# Python
__pycache__/
*.pyc
.venv/
venv/
models/
.pytest_cache/
rag-service/data/

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.iml
.DS_Store
